/CMCommInfo.class
/CMConfigurationInfo.class
/CMDBInfo.class
/CMEventInfo.class
/CMFileTransferInfo.class
/CMInfo.class
/CMInteractionInfo.class
/CMSNSInfo.class
/CMThreadInfo.class
/package-info.class
